{% extends "layout.html.twig" %}
{% block head %}
    <title> {% block title %}{{ parent () }}-Forum{% endblock %}</title>
    {% endblock %}
    {% block stylesheet %}
    <link rel="stylesheet" herf="{{ asset('css/style1good.css') }}" />

    {% endblock %}



    {% block content %}
        <div class="row">
            <div class="col-lg-12">
                <style>
                    .card {
                        background-color: #66bb6a;
                    }
                </style>
                <div class="card">

                    <div class="card-body">
                        <style>
                            .box-title {
                                font-style: italic;
                                text-shadow: 2px 2px 5px green;
                            }
                        </style>
                        <h4 class="box-title">WELCOME ! </h4>
                    </div>
                    <div class="row">
                        <style>
                            img {
                                display: block;
                                margin-left: auto;
                                margin-right: auto;
                            }
                        </style>
                        <img src="{{ asset("templates/images/tofla.jpg")}}" alt="supermarket" height="550" >
                                </div>
                            </div> <!-- /.card-body -->
                        </div>
                    </div> <!-- /.row -->
                    <div class="card-body"></div>
                </div>
            </div><!-- /# column -->
        </div>
    {% endblock %}
